@import "style/_com";
@import "style/_typography";
@import "~primeng/resources/primeng.css";
@import "~primeng/resources/themes/omega/theme.css";
@import "~font-awesome/css/font-awesome.min.css";
@import "~font-awesome/css/font-awesome.min.css";

body{
  padding:0;
  margin:0;

}

body, html{
  height:100%;
}
